extends layout

block append head
    script(defer src='/js/recordings.js')
    //-- var values = [];
        
block content
    include nav.pug

    div.container
        div.page-header Manage Recordings

    div.container        
        div.row
            div.container
                table.table.table-condensed.table-striped.table-hover(id="intlist") Internal storage
                    thead
                        tr
                            th(scope="row") Actions
                            th(scope="row") Filename
                            th(scope="row") Time
                            th(scope="row") Size
                            th(scope="row") BitRate
                    tbody
                    for result in localResults
                        tr
                            td
                                ul.nav.nav-sm.nav-pills
                                    li
                                        a(href='/recordings/download?file='+result.path+result.file download)
                                            span.glyphicon.glyphicon-download-alt
                                    li
                                        a(href='/recordings/delete?file='+result.path+result.file
                                                onclick="return confirm(\'Are you sure you want to delete this item?\');")
                                            span.glyphicon.glyphicon-trash
                                    li
                                        a(href='/recordings/encode?file='+result.path+result.file)
                                            span.glyphicon.glyphicon-export
                            td= result.file
                            td= result.duration
                            td= result.fileSize
                            td= result.bitRate
                table.table.table-condensed.table-striped.table-hover(id="usblist") USB storage
                    thead
                        tr
                            th(scope="row") Actions                                
                            th(scope="row") Filename
                            th(scope="row") Time
                            th(scope="row") Size
                            th(scope="row") BitRate
                    tbody
                    for result in usbResults
                        tr
                            td
                                ul.nav.nav-sm.nav-pills
                                    li
                                        a(href='/recordings/download?file='+result.path+result.file download)
                                            span.glyphicon.glyphicon-download-alt
                                    li
                                        a(href='/recordings/delete?file='+result.path+result.file
                                                onclick="return confirm(\'Are you sure you want to delete this item?\');")
                                            span.glyphicon.glyphicon-trash
                                    li
                                        a(href='/recordings/encode?file='+result.path+result.file)
                                            span.glyphicon.glyphicon-export
                            td= result.file
                            td= result.duration
                            td= result.fileSize
                            td= result.bitRate