extends layout

block append head
    script(defer src='/js/settings.js')

block content
    include nav.pug
    
    div.container
        div.page-header Manage Settings

        div.col-xs-8.col-sm-10
            form.form-horizontal
                fieldset
                    div.form-group
                        label.control-label(for="sampleRate") Bitdepth/Sample Rate
                        select.form-control(id="sampleRate")
                            -for(var i = 0; i<encodeRates.length; i++){
                                option(value="#{encodeRates[i]}") #{encodeRates[i]}
                            -}
                    div.form-group
                        label.control-label(for="mp3Rate") MP3 VBR Bitrate
                        select.form-control(id="mp3Rate")
                            option(value="0") ~245 kbps                                
                            option(value="1") ~225 kbps
                            option(value="2") ~190 kbps
                            option(value="3") ~175 kbps
                    div.form-group
                        label.control-label(for="highResFormat") Format for recordings
                        select.form-control(id="highResFormat")
                            option(value="flac") 16/24bit FLAC
                            option(value="wav") 16/32bit WAV
                    div.form-group
                        label(for='captureDevice') Capture Device (e.g. hw:0,0 or default):
                        input#captureDevice.form-control(type='text' value=settings.captureDevice)
                        label(for='playbackDevice') Playback Device (e.g. hw:0,0 or default):
                        input#playbackDevice.form-control(type='text' value=settings.playbackDevice)
                        div.checkbox
                            label
                                input(type="checkbox" id="native24Bit" disabled) 
                                span 24bit Hardware Support     
                fieldset
                    div.form-group
                        button.btn.btn-primary(type="submit" id="save") Save

            ul.list-group(id ="log")
    script.
        var textToFind=#{settings.bitDepth}+'/'+#{settings.sampleRate};
        var dd = document.getElementById('sampleRate');
        for (var i = 0; i < dd.options.length; i++) {
            if (dd.options[i].text === textToFind) {
                dd.selectedIndex = i;
                break;
            }
        }
        
        document.getElementById('mp3Rate').value=#{settings.mp3Rate};
        document.getElementById('highResFormat').value="#{settings.highResFormat}";
        document.getElementById('native24Bit').checked=#{settings.native24Bit};

        